@page "/"
@using Blazored.LocalStorage
@using myazfunction.Models;
@using System.Threading.Tasks;

@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div id="search">

    @if (movieResponse == null)
    {
        <span>No tags found.</span>
    }
    else
    {
        @foreach (var tag in movieResponse.tags)
        {
            <input  type="checkbox"
                   checked="@selectedTags.Contains(tag)"
                   @onchange="e => OnTagsChange(tag, e)" />

            <span padding-right:2px" @onclick="() => OnTagClick(tag)">
                @tag
            </span>
        }
    }

    <button  @onclick="() => LoadData()">Search</button>
</div>
<table class="table table-striped">
    @if (movieResponse == null || movieResponse.movies.Count == 0)
    {
        <tr>
            <td colspan="4">No movies found.</td>
        </tr>
    }
    else
    {
        @foreach (var movie in movieResponse.movies)
        {
            <tr>
                <td style="width:5%">
                    <a href="@movie.Url" target="_blank">op</a>
                </td>
                <td style="width:30%">
                    <input class="form-control" @bind="movie.Title" />                   
                </td>
                <td style="width:25%">
                    <input class="form-control" @bind="movie.Url" />
                </td>
                <td style="width:30%">
                    <input class="form-control" @bind="movie.tags" />
                </td>
                <td style="width:10%">
                    <button class="btn btn-success btn-sm" @onclick="() => SaveMovie(movie)">Save</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => DeleteMovie(movie.Id)">Delete</button>

                </td>
            </tr>
        }
    }
</table>

@code {
    MovieResponse movieResponse;
    private bool isJav;
    string userid;
    private string selectedValue;
    List<string> selectedTags = new List<string>();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        userid = await localStorage.GetItemAsync<string>(Constants.authtoken);
        if (string.IsNullOrEmpty(userid))
        {
            NavigationManager.NavigateTo("login", forceLoad: true);
            return;
        }
        await LoadData();

    }

    private async System.Threading.Tasks.Task LoadData()
    {
        // ✅ Example POST request
        var request = new SearchRequest
        {
            userid = userid,
            searchtxt = "",
            pageNumber = 1,
            isJav = false
        };
        var response = await Http.PostAsJsonAsync("api/GetMovies", request);


        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<MovieResponse>();
            movieResponse = result;
        }
        else
        {
            Console.WriteLine("Error: " + response.StatusCode);
        }
    }
    private async System.Threading.Tasks.Task OnTagClick(string tag)
    {
        bool confirmed = await JS.InvokeAsync<bool>("showConfirm", $"Do you want to delete this tag: '{tag}'?");

        if (confirmed)
        {

            var response = await Http.PostAsJsonAsync("api/DeleteTag", tag);

            if (response.IsSuccessStatusCode)
            {
                await JS.InvokeVoidAsync("alert", "Tag deleted successfully!");
            }
            else
            {
                Console.WriteLine("Error: " + response.StatusCode);
            }
        }
    }
    private void OnTagsChange(string tag, ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value;

        if (isChecked)
            selectedTags.Add(tag);
        else
            selectedTags.Remove(tag);
    }

    private async System.Threading.Tasks.Task SaveMovie(Movie movie)
    {
        var userid = await localStorage.GetItemAsync<string>(Constants.authtoken);

        var updateRequest = new
        {
            Id = movie.Id,
            Title = movie.Title,
            Url = movie.Url,
            tags = movie.tags,
            UserId = userid,
            IsJav = movie.IsJav,
            ImageData = movie.ImageData
        };

        var response = await Http.PostAsJsonAsync("api/updateMovie", updateRequest);

        if (response.IsSuccessStatusCode)
        {
            await JS.InvokeVoidAsync("alert", "Movie updated successfully!");
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "failed to Movie updated !");
            Console.WriteLine("Update failed: " + response.StatusCode);
        }
    }

    private async System.Threading.Tasks.Task DeleteMovie(string movieId)
    {
        var userid = await localStorage.GetItemAsync<string>(Constants.authtoken);

        var deleteRequest = new
        {
            userid = userid,
            id = movieId
        };

        var response = await Http.PostAsJsonAsync("api/DeleteMovie?id=" + movieId, deleteRequest);

        if (response.IsSuccessStatusCode)
        {
            // Remove from UI without reloading page
            movieResponse.movies = movieResponse.movies.Where(m => m.Id != movieId).ToList();
            StateHasChanged();
        }
        else
        {
            Console.WriteLine("Delete failed: " + response.StatusCode);
        }
    }

    public class Pagination
    {
        public int pageNumber { get; set; }
        public int pageSize { get; set; }
        public int totalCount { get; set; }
        public int totalPages { get; set; }
    }

    public class MovieResponse
    {
        public List<Movie> movies { get; set; }
        public List<string> tags { get; set; }
        public Pagination pagination { get; set; }
    }

    public class SearchRequest
    {
        public string userid { get; set; }
        public string searchtxt { get; set; }
        public int pageNumber { get; set; }
        public bool isJav { get; set; }
    }

    public class TagDeleteRequest
    {
        public string userid { get; set; }
        public string tag { get; set; }
    }
}

