################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/blazorMovieList/bin/Debug/net10.0
/blazorMovieList/obj
