@using Blazored.LocalStorage
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage

<nav class="nav-bar">
    <a class="nav-brand" href="/">blazorMovieList</a>

    <div class="nav-content">
        <ul class="nav-left">
            <li>
                <NavLink href="/" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
        </ul>

        <ul class="nav-right">
            @if (isLoggedIn)
            {
                <li>
                    <span>Hello, @username!</span>
                </li>
                <li>
                    <button @onclick="Logout">Logout</button>
                </li>
            }
            else
            {
                <li>
                    <NavLink href="login">Login</NavLink>
                </li>
            }
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private bool isLoggedIn = false;
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        username = await localStorage.GetItemAsync<string>(Constants.authtoken);
        isLoggedIn = !string.IsNullOrEmpty(username);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await localStorage.RemoveItemAsync(Constants.authtoken);
        NavigationManager.NavigateTo("login", forceLoad: true);
    }
}